h5py @ file:///Users/runner/miniforge3/conda-bld/h5py_1666831019215/work
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1667505014569/work
MDAnalysis @ file:///Users/runner/miniforge3/conda-bld/mdanalysis_1667588919740/work
mdtraj @ file:///Users/runner/miniforge3/conda-bld/mdtraj_1667764170425/work
networkx @ file:///opt/conda/conda-bld/networkx_1647437648384/work
nglview==3.0.3
numba @ file:///Users/runner/miniforge3/conda-bld/numba_1669104117302/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1668919164289/work
pandas==1.5.2
pyEMMA @ file:///Users/runner/miniforge3/conda-bld/pyemma_1667729593716/work
pymol==2.5.4
scikit-learn @ file:///opt/concourse/worker/volumes/live/09b793c0-41c8-469b-7e31-b4a39bc68d95/volume/scikit-learn_1642617120730/work
scipy==1.9.3
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1666117478708/work
silx==1.1.1
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1662214488106/work
